1 24 "maxide.x86.exe.manifest"
101 ICON "maxide.ico"

1 VERSIONINFO 
FILEVERSION 1,0,0,0 
PRODUCTVERSION 1,0,0,0 
FILEOS 0x40004
FILETYPE 0x1
{ 
BLOCK "StringFileInfo" 
{ 
 BLOCK "040904b0" 
 { 
  VALUE "Comments", "Official BlitzMax IDE"
  VALUE "CompanyName", "Blitz Research Ltd." 
  VALUE "FileVersion", "1.0.0.0" 
  VALUE "FileDescription", "Official BlitzMax IDE" 
  VALUE "InternalName", "MaxIDE" 
  VALUE "LegalCopyright", "Copyright Blitz Research Ltd." 
  VALUE "OriginalFilename", "maxide.exe" 
  VALUE "ProductName", "MaxIDE" 
 } 
}
BLOCK "VarFileInfo"
{
  VALUE "Translation", 0x0409, 0
}
}